.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Navigation {
  background-color: transparent;
  padding: 50px;
}

.Intro {
  align-items: center;
  display: flex;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.CryptoIntro {
  align-items: center;
  display: flex;
  height: 15vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.CryptoImage {
  width: 80px;
}

.Cryptoname {
  font-weight: bold;
}

.CurrencyContainer {
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 300px;
  padding: 30px;
  text-align: center;
  width: 400px;
}

.CurrencyHeader {
  color: blue;
  font-weight: bold;
}

.CurrencyInput {
  margin: 20px;
}

.increase {
  color: red;
}

.decrease {
  color: green;
}

.Icon {
  align-items: center;
  bottom: 10px;
  position: absolute;
}

.MainButton {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: center;
}